body {
  background-color: $color-white-90;
}

a {
  color: $color-black;
  text-decoration: none;
}

.panel {
  border-radius: $border-radius-xs;
  box-shadow: $box-shadow-sm;
}

.p-32 {
  padding: 2rem;
}

/* Ml Navbar */

.ml-navbar {
  max-height: 3.75rem;
  &__logo {
    max-height: 1.875rem;
    object-fit: cover;
    width: auto;
    margin-right: 1.5rem;
  }

  &__search {
    position: relative;

    &__button {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 10;
      display: flex;
      width: 2.375rem;
      height: 2.375rem;
      line-height: 2.375rem;
      text-align: center;
      padding: 0.125rem;
      justify-content: center;
      align-items: center;
      background-color: $color-white-90;
      border-radius: 0;
      box-sizing: border-box;
      img {
        width: auto;
        height: 1rem;
        object-fit: contain;
      }
      &:hover {
        cursor: pointer;
      }

      &:focus {
        border: none;
      }
    }
    &__input {
      border-radius: 0;
      padding-right: 0;
      height: 2.4375rem;

      &:focus {
        outline: none;
        box-shadow: none;
        border-color: $color-white;
      }
      &::-webkit-search-cancel-button {
        display: none;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .ml-navbar__search {
      min-width: 40.25rem;
    }
  }
}

/* Ml Breadcrumb */

.ml-breadcrumb {
  width: 100%;
  &__item {
    color: $color-medium;
    font-size: $font-size-small;
  }
}

/* Ml Card */
.item-card {
  &__image {
    width: 11.25rem;
    height: 11.25rem;
    object-fit: container;
    border-radius: $border-radius-xs;
  }
  &__body {
    &__price {
      margin-bottom: 2rem;
    }
    &__badge {
      width: 1rem;
      height: 1rem;
    }
  }
}

/* Ml Detail View */

.ml-item__view__image {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1200px) {
  .ml-item__view__image {
    width: 42.5rem;
    max-height: 42.5rem;
    object-fit: cover;
  }
}
